{
    "presets": [
      [
        "@babel/preset-env", {
          "useBuiltIns": "entry",
          "modules": "umd"
        }
      ]
    ]
    // "plugins": [
    //   "external-helpers"
    // ]
  }