{
    "presets": [
      [
        "@babel/preset-env", {
          "useBuiltIns": "false",
          "modules": false,
          "corejs": "3"
        }
      ]
    ]
    // "plugins": [
    //   "external-helpers"
    // ]
  }