[commit]
    template = ./gitCommitTemplate
[alias]
    change-of-last-month = !sh -c 'git log --format=\"%s (%h)\" --reverse --grep \"^\\(docs\\|feat\\|fix\\|perf\\|refactor\\|test\\|optimize\\)\" --since=`date -d \"2 month ago\" +\"%Y-%m-01\"` --before=`date +\"%Y-%m-28\"` | sed \"s/(^)*):/:/\" | sort -k1,1 -s'